.grid-card-2 {
  color: gray;
  font-size: 90%;
}

.grid-card-2-button {
  width: 50%;
  padding-top: 13px;
  padding-bottom: 10px;
  border: none;
  background-color: #f15e51;
  font-family: "newsfontExtraBold";
  letter-spacing: 4px;
  font-size: 80%;
}
