.grid-card__item {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
}

.grid-card__item-img {
  grid-column: 1;
  grid-row: span 3;
}

.grid-card__item-title {
  font-family: "newsfontExtraBold", Arial, sans-serif;
  color: #f15a56;
  font-weight: 900;
  font-size: 2em;
  grid-column: 2;
  grid-row: 1;
  width: 100%;
}

.grid-card__item-description {
  font-weight: 100;
  grid-column: 2;
  grid-row: 2;
  width: 100%;
}

.grid-card__item-text {
  grid-column: 2;
  grid-row: 3;
  width: 100%;
}

.grid-card__item-img img {
  width: 150px;
  height: auto;
}
